{% extends "base.html" %}
{% block body %}
    <div class='head'>
        <h1>Occupy Data: <span style='color: #ff3333'>Twitter Links</span></h1>
        <p>Displaying the top links from tweets which contain the <a href='https://twitter.com/#!/search/%23occupyboston'>#OccupyBoston</a> hash tag, from Sept. 24 to Dec. 10, 2011.  More info: <a href='http://occupyresearch.wikispaces.com'>Occupy Research</a>.  <a href='http://github.com/yourcelf/occupydatatweets/'>Fork me on Github</a>.</p>
    </div>
    <div class='pagination'></div>
    <div id='categories'></div>
    <div id='tweets'></div>
    <div class='pagination'></div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type='text/template' id='paginationTemplate'>
    <div>
        Page <span class='current-page'></span> of <span class='total-pages'></span>.  
        <a href='' class='previous-page'></a>
        <a href='' class='next-page'></a>
    </div>
    <div>
        Sort: <span class='order-links'></span>
    </div>
</script>
<script type='text/javascript'>
    var data = {{ data|safe }};
    tweet_link_counts(data);
</script>
{% endblock %}
